<h1>StaticPages#upload</h1>
<p>Find me in app/views/static_pages/upload.html.erb</p>

<ul>
  <li><%= link_to 'Wall Paintings', wall_paintings_path %></li>
  <li><%= link_to 'Fotografika', fotografikas_path %></li>
  <li><%= link_to 'Fotografia', fotografia_path %></li>
  <li><%= link_to 'Sztalugi', sztalugis_path %></li>
  <li><%= link_to 'Inne', uncategorized_objects_path %></li>
</ul>

