<p id="notice"><%= notice %></p>

<div class="paintings-show-wrapper">
  <h1><%= @painting.title %></h1>
  <%= image_tag("#{@painting.my_file}") %>
  <p><%= @painting.description %></p>
</div>

<div class="paintings-show-nav">
  <%= link_to 'Edit', edit_painting_path(@painting) %>
  <%= link_to 'Back', paintings_path %>
</div>