<p id="notice"><%= notice %></p>

<h1>Listing Fotografia</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fotografia.each do |fotografium| %>
      <tr>
        <td><%= link_to 'Show', fotografium %></td>
        <td><%= link_to 'Edit', edit_fotografium_path(fotografium) %></td>
        <td><%= link_to 'Destroy', fotografium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fotografium', new_fotografium_path %>
<%= link_to 'Back to Upload', static_pages_upload_path %>
