<p id="notice"><%= notice %></p>

<h1>Listing Sztalugis</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sztalugis.each do |sztalugi| %>
      <tr>
        <td><%= link_to 'Show', sztalugi %></td>
        <td><%= link_to 'Edit', edit_sztalugi_path(sztalugi) %></td>
        <td><%= link_to 'Destroy', sztalugi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sztalugi', new_sztalugi_path %>
<%= link_to 'Back to Upload', static_pages_upload_path %>