<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Coda' rel='stylesheet' type='text/css'>
  

  
</head>
<body>
  <div class="site_container">
    <%= render 'shared/header' %>
    <%= render 'shared/top_links' %>
    <div class="main_wrapper">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </div>
</body>
</html>
