<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Coda' rel='stylesheet' type='text/css'>
</head>
<body>
<%= link_to "admin", kalliope_path %>
  <!--TEMPORARY COMMENTS FOR DEVISE-->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
   <!--TEMPORARY COMMENTS FOR DEVISE-->
   
  <div class="site_container">
    <%= render 'shared/header' %>
    <%= render 'shared/top_links' %>
    <div class="main_wrapper">
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
  </div>
</body>
</html>